@dark-gray: #333;
@light-gray: #ccc;
@key-blue: #273c98;
@light-blue: #8491ca;
@off-white: #fefcf9;
@accent-orange: #f35f02;
@star-yellow: #eaef27;

@base-fsize: 28px;
@smaller-fsize: 24px;
@smallest-fsize: 18px;

body {
    color: @dark-gray;
	background-color: @off-white;
	font-size: @base-fsize;
}

a {
	color: @key-blue;
	cursor: pointer;
}

mf-header {
	display: block;
	background-color: @key-blue;
	overflow: hidden;
	color: white;
	font-size: @base-fsize;

	div {
		display: flex;
	
		button {
			background: transparent;
			border: none;
			flex-grow: 0;
			font-size: @smaller-fsize;
			min-width: 70px;

			&:active {
				background: @light-blue;
			}
		}

		h1 {
			text-align: center;
			font-size: @base-fsize;
			flex-grow: 1;
			margin: 10px 0px;
		}
	}

	.glyphicon.glyphicon-star {
		color: @star-yellow;
	}
}

mf-searchbar {
	display: block;
	background-color: @light-blue;
	padding: 10px 15px;

	div {
		display: flex;

		.glyphicon {
			margin: auto 10px;
		}

		input {
			width: 100%;
			border: none;
			padding: 5px 50px 5px 15px;
			font-size: 30px;
		}
	}
}

#filterAndSchoolsBar {
	background-color: @light-blue;
	display: flex;
	justify-content: space-around;

	.secondary-button {
		flex-grow: 1;
		background-color: @key-blue;
		color: white;
		border: none;
		margin: 5px 5px;
		padding: 5px 0px;

		&:active {
			background-color: @light-blue;
		}
	}
}

#homeView {
	.main-button {
		display: block;
		width: 80%;
		margin: 50px auto;
		background-color: @key-blue;
		color: white;
		border: none;

		&:active {
			background-color: @light-blue;
		}
	}

	#notSupportedModal {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		vertical-align: middle;
		background-color: rgba(255, 255, 255, 0.7);
	}
}

#filtersMenu {
	background-color: @key-blue;
	color: white;
	font-size: @smallest-fsize;

	div {
		border-top: 1px @light-blue solid;
		padding: 5px 20px;
		height: 46px;
		line-height: 34px;
	}

	select {
		float: right;
		position: absolute;
		right: 50px;
		background-color: @key-blue;
		color: @accent-orange;
		min-width: 130px;
		height: 36px;
		border: 1px @light-blue solid;
	}

	.clear-filter-button {
		float: right;
		position: absolute;
		right: 15px;
		border: none;
		background-color: @key-blue;
		color: @accent-orange;
		line-height: 38px;
	}
}

#listContainer {

	.list-entry {
		background-color: white;
		position: relative;
		border-top: 1px @light-gray solid;
		padding: 4px;
		/*max-height: 126px;
		overflow: hidden;*/

		span {
			margin: 5px;
		}

		&:active {
			background-color: @light-blue;
		}

		&.expanded {
			/*max-height: 500px;*/
		}

		.entry-name {
			white-space: nowrap;
			display: block;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.expanded-details {
			margin: 6px 20px;
			font-size: @smaller-fsize;

			.detail {
				float: right;
				color: @key-blue;
				margin: 0 100px 0 0;
			}

			.detail-link {
				display: block;
				text-align: center;
			}
		}

		.glyphicon {
			float: right;
			
			&.glyphicon-check {
				color: @accent-orange;
			}

			&.glyphicon-star {
				color: @star-yellow;
			}

		}

	}
}
