<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="lib/jquery-2.2.2.min.js"></script>
    <script src="lib/angular.min.js"></script>
	<script src="lib/angular-animate.min.js"></script>
    <script src="js/app.js"></script>
	<link rel="stylesheet" href="css/lib/bootstrap.min.css">
	<link rel="stylesheet" href="css/out/styles.css">
</head>
<body ng-app="majorFinder" ng-switch="activeView" ng-init="activeView = 'homePage'">

	<!-- Home view -->
	<div id="homeView" ng-controller="homePage" ng-switch-when="homePage">
		<mf-header title="Major Finder"></mf-header>
		<mf-searchbar hint="Seach Majors" ng-keypress="submitOnEnter($event)"></mf-searchbar>
		<button class="main-button" ng-click="goToFindMajors()">Find a Major</button>
		<button class="main-button" ng-click="notSupported()">Rate a Major</button>
		<div id="notSupportedModal" ng-if="showNotSupported" ng-click="hideNotSupported()">
			Sorry, We haven't implemented that yet!
		</div>
	</div>

	<!-- Major Finder View -->
	<div id="majorFinderView" ng-controller="majorFinder" ng-switch-when="majorFinder">
		<mf-header 
				title="Find Majors" 
				left-button-click="goHome()" 
				left-button-icon="glyphicon-chevron-left"
				right-button-click="toggleFilterFavorites()"
				right-button-icon="glyphicon-star">
		</mf-header>
		<mf-searchbar hint="Seach Majors"></mf-searchbar>
		<div id="filterAndSchoolsBar">
			<button class="secondary-button" ng-click="toggleFilters()">Filter By...</button>
			<button class="secondary-button" ng-click="goToSchools()">Set Schools</button>
		</div>
		<div id="filtersMenu" ng-show="filtersOpen">
			<div class="filter" 
					ng-repeat="filter in filters"
					ng-click="expandFilter(filter)">
				{{filter.name}}
				<button class="clear-filter-button" ng-if="filter.selectedValue" ng-click="clearFilter(filter)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<select 
						ng-model="filter.selectedValue" 
						ng-init="filter.selectedValue = null" 
						ng-options="option.val as option.label for option in filter.options">
					<!--<option ng-repeat="option in filter.options track by $index" value="{{option}}">{{option || 'N/A'}}</option>-->
				</select>
			</div>
		</div>
		<div id="listContainer">
			<div class="list-entry" 
					ng-repeat="major in majors | filter: {title: mfSearchQuery} | filter: filterMajor" 
					ng-click="expandMajor(major, $event)"
					ng-class="{'expanded': activeMajor === major}">
				<span class="fav-button glyphicon" 
						ng-class="(major.favorite && 'glyphicon-star') || 'glyphicon-star-empty'" 
						ng-click="toggleFavorite(major, $event)">
				</span>
				<span class="option-icon glyphicon" 
						ng-class="{
							'glyphicon-option-horizontal': major !== activeMajor, 
							'glyphicon-option-vertical': major === activeMajor
						}">
				</span>
				<span class="entry-name">{{major.title}}</span>
				<div class="expanded-details" ng-if="activeMajor === major">
					<div>School: <span class="detail">{{major.school}}</span></div>
					<div>Rating: <span class="detail">{{major.overallRating | number: 1}}</span></div>
					<div>Easiness: <span class="detail">{{major.easiness | number: 1}}</span></div>
					<div><a class="detail-link" ng-click="detailsForMajor(major); $event.stopImmediatePropagation();">More Details</a></div>
				</div>
			</div>
		</div>
	</div>

	<!-- School Selector View -->
	<div id="schoolSelectorView" ng-controller="schoolSelector" ng-switch-when="schoolSelector">
		<mf-header 
				title="Select Schools" 
				left-button-click="backToMajors()" 
				left-button-icon="glyphicon-chevron-left">
		</mf-header>
		<mf-searchbar hint="Search Schools"></mf-searchbar>
		<div id="listContainer">
			<div class="list-entry" ng-repeat="school in schools | filter: mfSearchQuery" ng-click="toggleSelectSchool(school, $event)">
				<span class="check-icon glyphicon" 
						ng-class="{
							'glyphicon-check': school.selected, 
							'glyphicon-unchecked': !school.selected
						}">
				</span>
				<span class="entry-name">{{school.name}}</span>
			</div>
		</div>
	</div>

</body>
</html>
