body {
  color: #333;
  background-color: #fefcf9;
  font-size: 28px;
}
a {
  color: #273c98;
  cursor: pointer;
}
mf-header {
  display: block;
  background-color: #273c98;
  overflow: hidden;
  color: white;
  font-size: 28px;
}
mf-header div {
  display: flex;
}
mf-header div button {
  background: transparent;
  border: none;
  flex-grow: 0;
  font-size: 24px;
  min-width: 70px;
}
mf-header div button:active {
  background: #8491ca;
}
mf-header div h1 {
  text-align: center;
  font-size: 28px;
  flex-grow: 1;
  margin: 10px 0px;
}
mf-header .glyphicon.glyphicon-star {
  color: #eaef27;
}
mf-searchbar {
  display: block;
  background-color: #8491ca;
  padding: 10px 15px;
}
mf-searchbar div {
  display: flex;
}
mf-searchbar div .glyphicon {
  margin: auto 10px;
}
mf-searchbar div input {
  width: 100%;
  border: none;
  padding: 5px 50px 5px 15px;
  font-size: 30px;
}
#filterAndSchoolsBar {
  background-color: #8491ca;
  display: flex;
  justify-content: space-around;
}
#filterAndSchoolsBar .secondary-button {
  flex-grow: 1;
  background-color: #273c98;
  color: white;
  border: none;
  margin: 5px 5px;
  padding: 5px 0px;
}
#filterAndSchoolsBar .secondary-button:active {
  background-color: #8491ca;
}
#homeView .main-button {
  display: block;
  width: 80%;
  margin: 50px auto;
  background-color: #273c98;
  color: white;
  border: none;
}
#homeView .main-button:active {
  background-color: #8491ca;
}
#homeView #notSupportedModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.7);
}
#filtersMenu {
  background-color: #273c98;
  color: white;
  font-size: 18px;
}
#filtersMenu div {
  border-top: 1px #8491ca solid;
  padding: 5px 20px;
  height: 46px;
  line-height: 34px;
}
#filtersMenu select {
  float: right;
  position: absolute;
  right: 50px;
  background-color: #273c98;
  color: #f35f02;
  min-width: 130px;
  height: 36px;
  border: 1px #8491ca solid;
}
#filtersMenu .clear-filter-button {
  float: right;
  position: absolute;
  right: 15px;
  border: none;
  background-color: #273c98;
  color: #f35f02;
  line-height: 38px;
}
#listContainer .list-entry {
  background-color: white;
  position: relative;
  border-top: 1px #ccc solid;
  padding: 4px;
  /*max-height: 126px;
		overflow: hidden;*/
}
#listContainer .list-entry span {
  margin: 5px;
}
#listContainer .list-entry:active {
  background-color: #8491ca;
}
#listContainer .list-entry.expanded {
  /*max-height: 500px;*/
}
#listContainer .list-entry .entry-name {
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
#listContainer .list-entry .expanded-details {
  margin: 6px 20px;
  font-size: 24px;
}
#listContainer .list-entry .expanded-details .detail {
  float: right;
  color: #273c98;
  margin: 0 100px 0 0;
}
#listContainer .list-entry .expanded-details .detail-link {
  display: block;
  text-align: center;
}
#listContainer .list-entry .glyphicon {
  float: right;
}
#listContainer .list-entry .glyphicon.glyphicon-check {
  color: #f35f02;
}
#listContainer .list-entry .glyphicon.glyphicon-star {
  color: #eaef27;
}
